<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.test.restAssured.restAssured.GetData2"/>
      <class name="com.test.restAssured.restAssured.GetData1"/>
      <class name="com.test.restAssured.restAssured.GetCallBDD"/>
      <class name="com.test.restAssured.restAssured.PostData1"/>
      <class name="com.test.restAssured.restAssured.GetData_XML"/>
      <class name="com.test.restAssured.restAssured.GetData_Assertion"/>
      <class name="com.test.restAssured.restAssured.PostData"/>
      <class name="com.test.restAssured.restAssured.GetEUData"/>
      <class name="com.test.restAssured.restAssured.GetData"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
